/* My Color Pallet: 
.colors {
    background-color: #20231A;
    background-color: #173B1D;
    background-color: #2F5C1F;
    color: #AEB06D;
    color: #D55D9D;
    color: #C41C3E;
    color: #00ff00
} */

.border {
    border-color: #173B1D solid;
    border-width: 2em;
}

.header {
    color: #AEB06D;
    font-family: "Carrois Gothic";
    background-color: #20231A;
    border-bottom: 2px solid lime;
    text-shadow: lime 6px;
    text-shadow: 3px #20231A;
}

.bg-image {
    background-image: url('https://i.giphy.com/media/G0Odfjd78JTpu/giphy.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    height: 100vh;
    color: #AEB06D
}

.pointer {
    cursor: pointer;
}

.plant {
    animation-name: shake;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    /* size-adjust: 10px; */
    height: 50vh;
    width: 50vh;
}

.button1 {
    background-color: rgba(23, 59, 29, 0.7);
    color: #AEB06D;
    font-size: 18px;
    padding: 12px 28px;
    border-radius: 8px;
    border: 2px solid lime;
    transition: 0.4s;
    box-shadow: 0 8px 16px 0 #20231A, 0 6px 20px 0 rgb(32, 35, 26);
    text-shadow: 3px solid #20231A;
}

.button1:hover {
    background-color: lime;
    color: lime;
    box-shadow: 0 8px 16px 0 #20231A, 0 6px 20px 0 #20231A;
}

.button2 {
    background-color: #173b1d;
    color: #AEB06D;
    font-size: 16px;
    padding: 12px 28px;
    border-radius: 8px;
    border: 2px solid #9a30fb;

}

.stats-box {
    background-color: rgba(32, 35, 26, 0.5);
    border-radius: 8px;
    border: 3px solid lime;
}

/* .box-shadow{
    box-shadow: 3px 3px 3px 3px lime;
} */